.formul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 8%;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.errorText{
    color:red;
}

input{
    margin-bottom: 5%;
}

.btn{
    background-color: #0275d8 ;
    color:white
}

.imgDelete{
    width: 30px;
    height: 30px;
    cursor: pointer;
}